---
layout: default
---
<section class="container">
  <div class="row home-leader mt-3">
    <div class="col">
      <h1>Use cocotb to test and verify chip designs in Python. <br/>Fast, and with a 😀.</h1>
      <div class="border-start border-5 border-secondary my-3 ps-3 fs-4">
        cocotb is an open source coroutine-based cosimulation testbench environment for verifying VHDL and SystemVerilog RTL using Python.
      </div>
      <a href="#" class="btn btn-primary btn-lg">
        Get started
        <img class="ps-2" src="assets/img/btn-arrow.png">
      </a>
    </div>
    <div class="col-5">
      <img src="assets/img/banner-img.png" class="img-fluid"/>
    </div>
  </div>

  <div class="row mt-5 g-0 bg-light align-items-center">
    <div class="col-md-2 border-start border-5 border-primary">
      <img src="assets/img/svg/logo-2nd-sec.svg" class="img-fluid"/>
    </div>
    <div class="col fs-2">
      cocotb lets you verify chips like software:<br/>
      productive, simulator-agnostic, in Python.
    </div>
    <div class="col-2 px-3">
      <a href="#" class="btn btn-primary btn-lg">
        Learn how
        <img class="ps-2" src="assets/img/btn-arrow.png">
      </a>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h1 class="text-center">How cocotb works</h1>
  <div class="mt-3 row" style="background-image: url('assets/img/process-arrows.svg'); background-repeat: no-repeat;">
    <div class="col-md">
      <img class="mx-auto d-block mb-3" src="assets/img/updated/process-icon-1.svg">
      <h2 class="fw-bold fs-4 text-center">Bring your design under test</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
    <div class="col-md">
      <img class="mx-auto d-block mb-3" src="assets/img/updated/process-icon-2.svg" alt="icon">
      <h2 class="fw-bold fs-4 text-center">Write a testbench in Python</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
    <div class="col-md">
      <img class="mx-auto d-block mb-3" src="assets/img/updated/process-icon-3.svg" alt="icon">
      <h2 class="fw-bold fs-4 text-center">You're ready to run your test!</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </div>

  <script id="asciicast-317220" src="https://asciinema.org/a/317220.js" async></script>

  <div class="text-center">
    <a href="#" class="btn btn-primary btn-lg">
      Get started
      <img class="ps-2" src="assets/img/btn-arrow.png">
    </a>
  </div>
</section>

<section class="container mt-5">
  <h1 class="text-center">Key benefits</h1>
  <p>
    cocotb is all about verification productivity.
    Verification is software, and by writing verification code in Python, verification engineers have access to all the goodness that made software development productive and enjoyable.
    It allows developers to focus on the verification task itself, and stop fighting with language limitations.
  </p>

  <div class="row g-5">
    <div class="col-md-4">
      <div class="d-flex flex-column border bg-light p-3 h-100">
        <img class="mx-auto d-block mb-3" src="assets/img/svg/option-page-icon-1.svg" alt="icon">
        <h2 class="fw-bold fs-4 text-center">Works with what you have</h2>
        <p>Cocotb works with all commonly used RTL simulators: VCS, ModelSim and Questa, Xcelium, Riviera-PRO and Active-HDL, GHDL, Verilator.</p>
        <div class="mt-auto mx-auto">
          <a href="#" class="a-benefits-read-more">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column border bg-light p-3 h-100">
        <img class="mx-auto d-block mb-3" src="assets/img/svg/option-page-icon-2.svg" alt="icon">
        <h2 class="fw-bold fs-4 text-center">Benefit from the ecosystem</h2>
        <p>Verification is all about productivity. With cocotb, your testbench can make use of the whole Python ecosystem: almost 300,000 extension packages.</p>
        <div class="mt-auto mx-auto">
          <a href="#" class="a-benefits-read-more">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex flex-column border bg-light p-3 h-100">
        <img class="mx-auto d-block mb-3" src="assets/img/svg/option-page-icon-3.svg" alt="icon">
        <h2 class="fw-bold fs-4 text-center">cocotb is not an island</h2>
        <p>
          With cocotb, interfacing with existing infrastructure is easy.
          Do you want to talk to a golden model in your testbench?
          Or to real hardware, e.g. an FPGA.</p>
          <div class="mt-auto mx-auto">
            <a href="#" class="a-benefits-read-more">Read more</a>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column border bg-light p-3 h-100">
        <img class="mx-auto d-block mb-3" src="assets/img/svg/option-page-icon-4.svg" alt="icon">
        <h2 class="fw-bold fs-4 text-center">CI-capable test runner included</h2>
        <p>
          Are you tired of writing custom test runner tooling?
          With cocotb, tests are automatically discovered and run.
          No more need for custom runners.
        </p>
        <div class="mt-auto mx-auto">
          <a href="#" class="a-benefits-read-more">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column border bg-light p-3 h-100">
        <img class="mx-auto d-block mb-3" src="assets/img/svg/option-page-icon-5.svg" alt="icon">
        <h2 class="fw-bold fs-4 text-center">Easy to learn</h2>
        <p>
          Python is the most popular programming language on the planet, giving you a massive head start.
          With cocotb, you can grow as you go.
          You only need to learn
        </p>
        <div class="mt-auto mx-auto">
          <a href="#" class="a-benefits-read-more">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-5 p-5" style="background-color: #e7f6f1">
  <div class="container">
    <div class="row g-5">
      <div class="col-md-6">
        <img class="img-fluid" src="assets/img/svg/about-img.svg">
      </div>
      <div class="col">
        <h1>About us</h1>

        <p>Cocotb is an open source software package which is used by computer chip developers to test the source code they have written. Cocotb has been around for a couple of years and establishing itself more and more in the industry. Currently cocotb doesn’t have a web site. This should change.</p>
        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis.</p>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h1 class=" text-center fw-bold display-5">cocotb is free. And priceless</h1>
  <p class=" text-center fs-4">
    cocotb is open source under the permissive BSD license.
    Anyone can freely use, modify, and distribute it.
  </p>
  <p class=" text-center fs-4">
    The cocotb development is supported by our sponsors.
  </p>

  <div class="row g-5">
    <div class="col-md-6">
      <div class="row align-items-center border border-2 shadow border-gray-light rounded p-3">
        <div class="col-md-4">
          <img class="img-fluid" src="assets/img/svg/priceless-sec-logo-1.svg">
        </div>
        <div class="col">
          <h2 class="fs-4 fw-bold">Aldec</h2>
          <p>Cocotb is an open source software package which is used by computer chip developers.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row align-items-center border border-2 shadow border-gray-light rounded p-3">
        <div class="col-md-4">
          <img class="img-fluid" src="assets/img/svg/priceless-sec-logo-2.svg">
        </div>
        <div class="col">
          <h2 class="fs-4 fw-bold">Siemens</h2>
          <p>Cocotb is an open source software package which is used by computer chip developers.</p>
        </div>
      </div>
    </div>
  </div>
</section>
